[submodule "dependencies/pygsp"]
	path = dependencies/pygsp
	url = git@github.com:epfl-lts2/pygsp.git
[submodule "dependencies/liegroups"]
	path = dependencies/liegroups
	url = git@github.com:utiasSTARS/liegroups.git
[submodule "dependencies/maplab_msgs"]
	path = dependencies/maplab_msgs
	url = https://github.com/ethz-asl/maplab_msgs
