<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Config file -->
  <arg name="config_file" default="$(find cdpgo)/config/robots/rsl_anymal_cerberus_client_config.yaml"/>

  <!-- Node name -->
  <arg name="node_name" default="cerberus_graph_client"/>

  <node name="$(arg node_name)" pkg="cdpgo" type="graph_client.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>

</launch>
