<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Config file -->
  <arg name="config_file" default="$(find fgsp)/config/robots/rsl_anymal_camel_client_config.yaml"/>

  <!-- Node name -->
  <arg name="node_name" default="camel_graph_client"/>

  <node name="$(arg node_name)" pkg="fgsp" type="graph_client.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>

</launch>
