<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Config file -->
  <arg name="config_file"             default="$(find cdpgo)/config/monitor_config.yaml"/>

  <!-- Node name -->
  <arg name="node_name"               default="graph_monitor"/>

  <node name="$(arg node_name)" pkg="cdpgo" type="graph_monitor.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>

</launch>
