<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Config file -->
  <arg name="config_file"             default="$(find fgsp)/config/monitor_config.yaml"/>

  <!-- Node name -->
  <arg name="node_name"               default="graph_monitor"/>

  <node name="$(arg node_name)" pkg="fgsp" exec="graph_monitor" output="screen" respawn="true">
    <param from="$(arg config_file)"/>
  </node>
</launch>
