<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Config file -->
  <arg name="config_file"             default="$(find graph_monitor)/config/default.yaml"/>
  <arg name="debug_file"             default="$(find graph_monitor)/config/debug.yaml"/>

  <!-- Node name -->
  <arg name="node_name"               default="graph_monitor"/>

  <node name="$(arg node_name)" pkg="graph_monitor" type="graph_monitor.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>

  <node name="test_driver" pkg="graph_monitor" type="test_driver.py" output="screen" respawn="true">
    <rosparam command="load" file="$(arg debug_file)"/>
  </node>
</launch>
